<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Jesse Johnson</title>

<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:600' rel='stylesheet' type='text/css'>

<!-- font awesome -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<!-- bootstrap -->
<link rel="stylesheet" href="bootstrap.min.css" />

<!-- animate.css -->
<link rel="stylesheet" href="animate.css" />
<link rel="stylesheet" href="set.css" />

<link rel="stylesheet" href="blueimp-gallery.min.css">

<link rel="stylesheet" href="style.css">

<br>
<br>

<div class="banner">

    <%= image_tag("http://bit.ly/1QUkvET", alt:"banner", class: "img-responsive") %>

  <div class="caption">
    <div class="caption-wrapper">
      <div class="caption-info">

        <h1 class="animated bounceInUp">Jesse Johnson</h1>

        <p class="animated bounceInLeft">Programmer</p>

        <a href="mailto:jesserjohnson@gmail.com" style="color:#ffffff">
          <p class="animated bounceInRight" id="email"></p>
        </a>

        <br>

        <p id="phone"></p>

        <br>

          <div class="animated bounceInDown btn btn-default">

          <b><a href="#" id="btn1" style="color:#FFFFFF">
            <span id="contact">Contact Me</span>
          </a></b>

          </div>
        </div>
      </div>
    </div>
  </div>
</head>

<body>



  <div id="works" class=" clearfix grid">
      <figure class="effect-oscar  wowload fadeInUp">

        <%= image_tag("http://bit.ly/1SPxppW", alt:"banner", class: "img-responsive") %>

          <figcaption>

            <h2>Past</h2>

              <p id="seattle">
                <a href="#" id="line1a" style="border:none;padding:none;text-decoration:none">
                  Seattle, WA
                </a>
              </p>

              <br>

              <p id="losangeles">
                <a href="#" id="line2a" style="border:none;padding:none;text-decoration:none">
                  Los Angeles, CA
                </a>
              </p>

              <br>

              <p id="portland">
                <a href="#" id="line3a" style="border:none;padding:none;text-decoration:none">
                  Portland, OR
                </a>
              </p>

              <br>

              <p id="entrepreneur">
                <a href="#" id="line4a" style="border:none;padding:none;text-decoration:none">
                  Entrepreneur
                </a>
              </p>

              <br>

              <p id="inventor">
                <a href="#" id="line5a" style="border:none;padding:none;text-decoration:none">
                    Inventor
                </a>
              </p>

              <p id="reset">
                <a href="#" id="line6a">

                </a>
              </p>

          </figcaption>

      </figure>

      <figure class="effect-oscar  wowload fadeInUp">

        <%= image_tag("http://bit.ly/23qdKBT", alt: "banner", class: "img-responsive") %>

          <figcaption>
            <h2>Present</h2>

              <br>

              <p id="line0">Portland, OR</p>

              <br>

              <p id="line1">Father<br><br>Self-taught programmer<br></p>

              <p id="present"><a id="line3" href="#" title="1" data-gallery>More Details</a></p>

              <br>

              <p id="line2">Owner | <a href="http://nightcoptertoy.com"
                style="border:none;padding:2px;text-decoration:none">
                Night Copter LLC</a><br></p>

              <p id="line5"><a href="http://github.com/jessejohnsohn" data-gallery>
                  Github Profile
              </a></p>
              <br>
              <p id="currentskills"><a href="" id="line4" data-gallery></a></p>




          </figcaption>

      </figure>

      <figure class="effect-oscar  wowload fadeInUp">

        <%= image_tag("http://bit.ly/1QSq6LT", alt:"banner", class: "img-responsive") %>

          <figcaption>
              <h2>Future</h2>

              <br>

              <p>Full-time developer<br> @ Your Company<br>

              <a href="#" id="hireme" data-gallery>Hire Me</a></p>

              <br>
              <br>

              <p><a href="mailto:jesserjohnson@gmail.com" style="border:none;padding:2px;text-decoration:none"><span id="line3b"></span></a></p>

              <br>

              <p id="line4b"></p>

          </figcaption>
      </figure>
    </div>
  </div>


  <div id="testimonials" class="container spacer ">
  	<h2 class="text-center  wowload fadeInUp" style="color:#000000">Did you know?</h2>

    <div class="clearfix">
      <div class="col-sm-6 col-sm-offset-3">
        <div id="carousel-testimonials" class="carousel slide testimonails  wowload fadeInRight" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item active animated bounceInRight row">
              <div class="animated slideInLeft  col-xs-2">
              </div>
              <div  class="col-xs-10">

                <br>

                <span>The Night Copter Toy is now sold at countless fairs,
          festivals, and novelty shops from coast-to-coast. It is
          currently the 5,000th best-selling toy on Amazon (out of over 200,000).
                </span>

                <br><br>
              </div>
            </div>

        <div class="item  animated bounceInRight row">
          <div class="animated slideInLeft  col-xs-2">
          </div>
          <div  class="col-xs-10">

          <br>

          <span>After college, Jesse went ten years without having to write a resume.</span>

          <br><br>

          </div>
        </div>

        <div class="item  animated bounceInRight row">
          <div class="animated slideInLeft  col-xs-2">
          </div>

          <div  class="col-xs-10">

            <br>

            <span>Jesse spent the summer of 2008 selling ShamWows at county fairs.</span>

            <br><br>

          </div>
        </div>

        <div class="item  animated bounceInRight row">
          <div class="animated slideInLeft  col-xs-2">

          </div>

          <div  class="col-xs-10">
            <br>
            <span>Even though it has no need to be, this site runs on Rails.</span>
            <br><br>
          </div>
        </div>
      </div>

     	<ol class="carousel-indicators">
      <li data-target="#carousel-testimonials" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-testimonials" data-slide-to="1"></li>
      <li data-target="#carousel-testimonials" data-slide-to="2"></li>
    	</ol>

      </div>
    </div>
  </div>
</div>

  <script>
  $(document).ready(function(){
    var tempScrollTop = $(window).scrollTop();
  $("#btn1").click(function(e){
  $("#email").text("jesserjohnson@gmail.com");
  $("#phone").text("(503) 857-7743");
  e.preventDefault();
  });

  });
  </script>

  <script>
  $(document).ready(function(){
    var tempScrollTop = $(window).scrollTop();

    $("#present").click(function(e){

      $("#line2").text("");
      $("#line1").text("In late 2015, after the birth of his daughter, Jesse promised his family he'd end the traveling and begin a career in computer programming. Study began soon after.");
      $("#line3").text("");
      $("#line4").text("Current Skills");
      e.preventDefault();
    });

  });


  </script>

  <script>
  $(document).ready(function(){
    var tempScrollTop = $(window).scrollTop();

    $("#currentskills").click(function(e){

      $("#line0").text("Experience in:")
      $("#line1").text("Python, Ruby, Ruby on Rails");
      $("#line2").text("HTML, CSS, Javascript");
      $("#line3").text("");
      $("#line4").text("");
      e.preventDefault();
    });

  });


  </script>
  <script>
  $(document).ready(function(){
    var tempScrollTop = $(window).scrollTop();

    $("#reset").click(function(e){

      $("#line1a").text("Seattle, Washington.");
      $("#line2a").text("Los Angeles, CA.");
      $("#line3a").text("Portland, OR");
      $("#line4a").text("Entrepeneur");
      $("#line5a").text("Inventor");
      $("#line6a").text("");
      e.preventDefault();
    });

  });

  </script>

  <script>
  $(document).ready(function(){
    var tempScrollTop = $(window).scrollTop();

    $("#seattle").click(function(e){

      $("#line1a").text("B. 1986, Seattle, Washington.");
      $("#line2a").text("Moved to Oregon in 1995.");
      $("#line3a").text("Lifelong Seattle sports fan.");
      $("#line4a").text("");
      $("#line5a").text("");
      $("#line6a").text("Back")
      e.preventDefault();
    });

  });


  </script>

  <script>
  $(document).ready(function(){
    var tempScrollTop = $(window).scrollTop();

    $("#losangeles").click(function(e){

      $("#line1a").text("Los Angeles, CA");
      $("#line2a").text("School of Accounting");
      $("#line3a").text("University of Southern California");
      $("#line4a").text("Returned home following his father's illness.");
      $("#line5a").text("");
      $("#line6a").text("Back")
      e.preventDefault();
    });

  });


  </script>

  <script>
  $(document).ready(function(){
    var tempScrollTop = $(window).scrollTop();

    $("#portland").click(function(e){

      $("#line1a").text("Portland, OR");
      $("#line2a").text("2006 - present");
      $("#line3a").text("Ran family's specialty retail business");
      $("#line4a").text("Managed over 20 product lines and 50 trade shows per year");
      $("#line5a").text("");
      $("#line6a").text("Back")
      e.preventDefault();
    });

  });


  </script>

  <script>
  $(document).ready(function(){
    var tempScrollTop = $(window).scrollTop();

    $("#entrepreneur").click(function(e){

      $("#line1a").text("Entreprenuer");
      $("#line2a").text("Launched over 20 new products in the Northwest in ten years");
      $("#line3a").text("");
      $("#line4a").text("Products such as");
      $("#line5a").text("Infinity Lights, Rescue Tape, Water Beads, Corium 21 Aloe");
      $("#line6a").text("Back")
      e.preventDefault();
    });

  });


  </script>

  <script>
  $(document).ready(function(){
    var tempScrollTop = $(window).scrollTop();

    $("#inventor").click(function(e){

      $("#line1a").text("Inventor");
      $("#line2a").text("Designed, patented, and imported a slingshot helicopter toy");
      $("#line3a").text("Over 30,000 units sold to-date");
      $("#line4a").text("");
      $("#line5a").text("");
      $("#line6a").text("Back")
      e.preventDefault();
    });

  });


  </script>

  <script>
  $(document).ready(function(){
    var tempScrollTop = $(window).scrollTop();

    $("#hireme").click(function(e){

      $("#line3b").text("jesserjohnson@gmail.com");
      $("#line4b").text("(503) 857-7743");
      e.preventDefault();
    });

  });


  </script>
